
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- REGLAS DE SEGURIDAD SYNC CONNECT (MODO PROTOTIPO) ---
    // Permitimos acceso total para asegurar que todas las funciones administrativas
    // y de usuario funcionen sin bloqueos de permisos durante la fase de despliegue.

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
